<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @recipe.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Servings:</strong>
  <%= @recipe.servings %>
</p>

<p>
  <strong>Prep time:</strong>
  <%= @recipe.prep_time %>
</p>

<p>
  <strong>Prep time descriptor:</strong>
  <%= @recipe.prep_time_descriptor %>
</p>

<p>
  <strong>Cook time:</strong>
  <%= @recipe.cook_time %>
</p>

<p>
  <strong>Cook time descriptor:</strong>
  <%= @recipe.cook_time_descriptor %>
</p>

<p>
  <strong>Rest time:</strong>
  <%= @recipe.rest_time %>
</p>

<p>
  <strong>Rest time descriptor:</strong>
  <%= @recipe.rest_time_descriptor %>
</p>

<p>
  <strong>Total time:</strong>
  <%= @recipe.total_time %>
</p>

<p>
  <strong>Total time descriptor:</strong>
  <%= @recipe.total_time_descriptor %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @recipe.calories %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
